@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-default: 0, 0, 0;
  --background-default: 243, 244, 246;;

  --foreground: var(--foreground-default);
  --background: var(--background-default);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground: 255, 255, 255;
    --background: 0, 0, 0;
  }
  
} */

body {
  color: rgb(var(--foreground));
  background-color: rgb(var(--background));
}


